// 登录窗口
.Login{
    display: none;
    position: absolute;
    top: 20vh;
    left: 50%;
    margin-left: -361px;
    z-index: 9998;
    width: 530px;
    height: 372px;
    border-radius: 4px;
    box-shadow: 0 5px 16px rgb(0 0 0 / 80%);
    border: none;
    // 小标题
    .title {
        padding-right: 45px;
        margin: 0;
        height: 38px;
        line-height: 38px;
        padding-left: 18px;
        // border-radius: 3px 3px 0 0;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        background-position: 50% 0;
        border-bottom: 1px solid #191919;
        border-radius: 4px 4px 0 0;
        background: #2d2d2d;
    }
    // 关闭按钮
    .close {
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        width: 38px;
        height: 38px;
        background-image: url(../img/layer.png);
        background-position: 13px -83px;
    }
    //加载小圈圈
    .loading {
        display: none;
        position: absolute;
        top: 48%;
        left: 48%;
        width: 20px;
        height: 20px;
        background-image: url(../img/loading.gif);
        background-size: contain;
    }
    // 二维码登录
    .login-qrcode {
        display: block;
        max-height: 334px;
        background-color: #fff;
        .phonePic {
            float: left;
            margin: 38px 0 0 101px;
            width: 125px;
            height: 220px;
            background-image: url(../img/qr_guide.png);
            background-size: contain;
        }
        .right {
            float: left;
            width: 220px;
            height: 204px;
            margin: 38px 0 0 25px;
            text-align: center;
            .r-title {
                font-size: 18px;
            }
            .qr {
                width: 130px;
                height: 130px;
                padding: 4px;
                margin: 13px auto;
                position: relative;
                background-image:url(../img/loading.gif);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
            }
            p {
                a {
                    color: #0c73c2;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .otherbtn {
            height: 28px;
            width: 100%;
            float: left;
            .o-btn {
                display: block;
                width: 118px;
                height: 100%;
                margin: 20px auto 0;
                padding-right: 0;
                font-size: 12px;
                border: 1px solid #979797;
                border-radius: 15px;
                line-height: 28px;
                text-align: center;
                color: rgba(0,0,0,0.80);
            }
        }
    }
    // 其他方式登录的总窗口
    .login-list {
        display: none;
        height: 334px;
        background-color: #fff;
        //手机号码
        .u-main {
            float: left;
            width: 224px;
            height: 202px;
            margin-top: 40px;
            padding: 0 35px 3px 40px;
            border-right: 1px dotted #ccc;
            box-sizing: content-box;
            //图片
            .u-plt {
                height: 120px;
                background-image: url(../img/platform.png);
                background-repeat: no-repeat;
                background-position: 13px 0;
            }
            //注册、登录两个按钮共同属性
            .f-mgt10 {
                margin-top: 10px;
                width: 219px;
                height: 31px;
                padding: 0 5px 0 0;
                a {
                    background-image: url(../img/button2.png);
                    i {
                        font-style: normal;
                        width: 174px;
                        background-image: url(../img/button2.png);
                        padding: 0 15px 0 20px;
                        height: 31px;
                        line-height: 31px;
                        text-align: center;
                        display: inline-block;
                        box-sizing: content-box;
                    }
                }
            }
            //手机号登陆按钮
            .u-btn-1 {
                background-position: right -428px;
                i {
                    background-position: 0 -387px;
                    color: #fff;
                }
            }
            //注册按钮
            .u-btn-2 {
                background-position: right -100px; 
                i {
                    background-position: 0 -59px;
                    color: #333;
                }
            }  
        }
        //隔壁其他方式
        .u-alt {
            float: left;
            margin-top: 40px;
            padding: 3px 0 3px 39px;
            
            ul li {
                margin-top: 15px;
                display: block;
                width: 148px;
                line-height: 38px;
                &:nth-child(1) {
                    margin-top: 0;
                }
                a {
                    color: #333;
                    &:hover {
                        text-decoration: underline;
                    }    
                }
                i {
                    float: left;
                    width: 38px;
                    height: 38px;
                    margin-right: 15px;
                    background-image: url(../img/logo.png);
                }
                .u-mlg2-wx {
                    background-position: -150px -670px;
                }
                .u-mlg2-qq {
                    background-position: -190px -670px;
                }
                .u-mlg2-wb {
                    background-position: -231px -670px;
                }
                .u-mlg2-wy {
                    background-position: -271px -670px;
                }

            }
        }
        .u-official-terms{
            float: left;
            margin-left: 40px;
            margin-top: 30px;
            font-size: 10px;
            color: rgba(0,0,0,0.40);
            line-height: 15px;
            label {
                color: #00000066;
            }
            a {
                color: #507DAF;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    //手机登录窗口
    .phone_login {
        height: 273px;
        background-color: #fff;
        .phoneInput {
            padding: 30px 0 43px;
            width: 220px;
            margin: 0 auto;
            .p-num {
                border: 1px solid #cdcdcd;
                border-radius: 2px;
                display: inline-block;
                a {
                    position: relative;
                    float: left;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 18px 0 5px;
                    border-right: 1px solid #cdcdcd;
                    .p-code {
                        line-height: 30px;
                        color: #333;
                    }
                    .p-icon {
                        position: absolute;
                        top: 14px;
                        right: 7px;
                        width: 7px;
                        height: 4px;
                        background-position: -260px -450px;
                        background-image: url(../img/icon2.png);
                    }
                }
                .phoneNum {
                    display: block;
                    width: 171px;
                    padding: 5px 8px 5px;
                    height: 30px;
                    line-height: 20px;
                    border: none;
                }
            }
            .p-code {
                margin-top: 10px;
                .p-password {
                    height: 19px;
                    width: 206px;
                    margin: 0;
                    padding: 5px 6px 6px;
                    border: 1px solid #cdcdcd;
                    border-radius: 2px;
                    line-height: 19px;
                    box-sizing: content-box;
                }
            }
            .f-mgt10{
                margin-top: 10px;
                line-height: 10px;
                width: 100%;
                display: inline-block;
                input {
                    float: left;
                    margin-right: 10px;
                }
                label {
                    float: left;
                    color: #979797;
                }
                a {
                    float: right;
                    color: #979797;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .p-l-btn {
                margin-top: 20px;
                a {
                    width: 215px;
                    height: 31px;
                    line-height: 31px;
                    background-image: url(../img/button2.png);
                    background-position: right -428px;
                    text-align: center;
                    i {
                        display: block;
                        width: 175px;
                        box-sizing: content-box;
                        font-style: normal;
                        color: #fff;
                        padding: 0 15px 0 20px;
                        background-image: url(../img/button2.png);
                        background-position: 0 -387px;
                        &:hover {
                            background-position: 0 -469px;
                        }
                    }
                    &:hover {
                        background-position: right -510px;
                    }
                }
            }
        }
        .btmbar {
            padding: 0 19px;
            height: 48px;
            border-top: 1px solid #c6c6c6;
            border-radius: 0 0 4px 4px;
            line-height: 48px;
            background-color: #f7f7f7;
            a {
                display: inline-block;
                color: #999;
                font-size: 12px;
                height: 100%;
            }
            .p-others {
                color:  #0c72c3;
            }
            .p-register {
                float: right;
            }
        }
    }
    //邮箱登录 窗口的跳转

    //邮箱登录窗口 
    .email_login {
        height: 273px;
        background-color: #fff;
        .emailInput {
            padding: 30px 0 43px;
            width: 220px;
            margin: 0 auto;
            .e-num {
                border: 1px solid #cdcdcd;
                border-radius: 2px;
                display: inline-block;
                .emailNum {
                    display: block;
                    width: 217px;
                    padding: 5px 8px 5px;
                    height: 30px;
                    line-height: 20px;
                    border: none;
                }
            }
            .e-code {
                margin-top: 10px;
                .e-password {
                    height: 19px;
                    width: 206px;
                    margin: 0;
                    padding: 5px 6px 6px;
                    border: 1px solid #cdcdcd;
                    border-radius: 2px;
                    line-height: 19px;
                    box-sizing: content-box;
                }
            }
            .f-mgt10{
                margin-top: 10px;
                line-height: 10px;
                width: 100%;
                display: inline-block;
                input {
                    float: left;
                    margin-right: 10px;
                }
                label {
                    float: left;
                    color: #979797;
                }
                a {
                    float: right;
                    color: #979797;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .e-l-btn {
                margin-top: 20px;
                a {
                    width: 215px;
                    height: 31px;
                    line-height: 31px;
                    background-image: url(../img/button2.png);
                    background-position: right -428px;
                    text-align: center;
                    i {
                        display: block;
                        width: 175px;
                        box-sizing: content-box;
                        font-style: normal;
                        color: #fff;
                        padding: 0 15px 0 20px;
                        background-image: url(../img/button2.png);
                        background-position: 0 -387px;
                        &:hover {
                            background-position: 0 -469px;
                        }
                    }
                    &:hover {
                        background-position: right -510px;
                    }
                }
            }
        }
        .btmbar {
            padding: 0 19px;
            height: 48px;
            border-top: 1px solid #c6c6c6;
            border-radius: 0 0 4px 4px;
            line-height: 48px;
            background-color: #f7f7f7;
            a {
                display: inline-block;
                font-size: 12px;
                height: 100%;
            }
            .e-others {
                color:  #0c72c3;
            }
        }
    }
    //其他登陆方式 返回 二维码登录
    .backToQr {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 52px;
        height: 52px;
        a {
            background-image: url(../img/qr_login_icon.png);
            background-size: contain;
            }
    }


    //提醒窗口
    .remind {
        display: none;
        position: absolute;
        bottom: 50%;
        left: 50%;
        margin-left: -100px;
        margin-bottom: -15px;
        width: 200px;
        height: 50px;
        background-color: rgba(43, 43, 43, 0.8);
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    //几个登录窗口的共同属性
    .login-qrcode,.login-list,.phone_login {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

}
    //背后蒙版
.backBlock {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

