.row {
    height: 285px;
    background-image: url(img/1.jpg);
    background-size: cover;
    -webkit-transition: all 2s linear ;
}
.r_content {
    height: 285px;
    width: 982px;
    margin: 0 auto;
}
.r-cont {
    float: left;
    width: 730px;
    height: 285px;
    position: relative;
    overflow: hidden;
    // 图片
    .pic {
        position: absolute;
        height: 285px;
        width: 10802px;
        transition: 1s;
        li {
            float: left;
            width: 730px;
            height: 285px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    //底部小圆点
    .circle {
        position: absolute; 
        bottom: 10px;
        left: 50%;
        margin-left: -100px;
        li {
            float: left;
            width: 10px;
            height: 10px;
            border: 2px solid #fff;
            border-radius: 15px;
            margin: 0 5px;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .current {
            background-color: #fff;
        }
    }
    //左右两侧按键
    span {
        position: absolute;
        z-index: 2;
        background-color: #0000002e;
        // font-size: 50px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        a {
            color: #fff;
            font-size: 20px;
        }
    }
    .b_right {
        left: 100%;
        margin-left: -20px;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.download {
    float: left;
    position: relative;
    width: 252px;
    height: 285px;
    background-image: url(../img/download.png);
    background-position: 0 0;

    a {
        position: absolute;
        display: block;
        opacity: 0;
        width: 215px;
        height: 56px;
        margin: 186px 0 0 19px;
        background-position: 0 63px;
        background-image: url(../img/download.png);
        &:hover {
            opacity: 1;
        }
    }
    
    p {
        position: absolute;
        color: #8d8d8d;
        bottom: 0px;
        width: 100%;
        text-align: center;
        line-height: 40px;
    }
}
